@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("username");
    string usertype = HttpContextAccessor.HttpContext.Session.GetString("usertype");
    string userId = HttpContextAccessor.HttpContext.Session.GetString("userId");
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="~/assets/ftco-32x32.png">

    <link rel="stylesheet" href="~/assets/css/custom-bs.css">
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/assets/fonts/line-icons/style.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!--CUSTOM STYLE-->
    <link rel="stylesheet" href="~/assets/css/custom_style.css" />
</head>
<body id="top">
    <partial name="_Notification" />
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status" style="color: #1E90FF;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#F0F8FF!important;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area=""><span class="text-black">KHANH-PHU-DAI</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-area="" asp-controller="Home" class="nav-link active text-black">Trang chủ</a>
                        </li>
                        @if (username != null)
                        {
                            if (usertype == "emp")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="EmployerDashboard" asp-action="Index" asp-route-userid="@userId">Quản lý</a>
                                </li>
                            }
                            else if (usertype == "jsk")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="JobSeekerDashboard" asp-action="Index" asp-route-userid="@userId">Quản lý</a>
                                </li>
                            }

                        }
                    </ul>
                    @if(username == null)
                    {
                        <div class="row">
                            <div class="dropdown mr-4 dropleft">
                                <button class="dropdown-toggle btn my-btn-2" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Đăng nhập
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" asp-action="JobSeeker" asp-area="" asp-controller="Signin">Người tìm việc</a>
                                    <a class="dropdown-item" asp-action="Employer" asp-area="" asp-controller="Signin">Nhà tuyển dụng</a>
                                </div>
                            </div>
                            <div class="dropdown dropleft">
                                <button class="dropdown-toggle btn my-btn-2" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Đăng ký
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" asp-action="JobSeeker" asp-area="" asp-controller="Signup">Người tìm việc</a>
                                    <a class="dropdown-item" asp-action="Employer" asp-area="" asp-controller="Signup">Nhà tuyển dụng</a>
                                </div>
                            </div>
                        </div>
                    } else
                    {
                        if (usertype == "emp")
                        {
                            <div id="my-btn" style="padding: 6px !important;" class="btn btn-primary border-width-2 d-none d-lg-inline-block mr-4"><a style="color: white;text-decoration: none;" asp-action="PostJob" asp-area="" asp-controller="Home">Đăng công việc</a></div>
                        }
                        <div id="my-btn" style="padding: 6px !important;" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><a style="color: white;text-decoration: none;" asp-action="Index" asp-area="" asp-controller="Signout">Đăng xuất</a></div>
                    }
                </div>
            </div>
        </nav>
        @*<header class="site-navbar mt-3" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="site-logo col-6"><a asp-action="Index" asp-controller="Home" asp-area=""><span class="text-black">Khanh-Phu-Dai</span></a></div>

                    <nav class="mx-auto site-navigation">
                        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                            <li><a asp-action="Index" asp-area="" asp-controller="Home" class="nav-link active text-black">Trang chủ</a></li>
                            <li><a href="#" class="text-black">Công việc</a></li>
                            @if (username != null) {
                                if (usertype == "emp")
                                {
                                    <li><a class="text-black" asp-controller="EmployerDashboard" asp-action="Index" asp-route-userid="@userId">Quản lý</a></li>
                                } else if(usertype == "jsk")
                                {
                                    <li><a class="text-black" asp-controller="JobSeekerDashboard" asp-action="Index" asp-route-userid="@userId">Quản lý</a></li>
                                }

                            }
                        </ul>
                    </nav>

                    <div class="right-cta-menu text-right d-flex aligin-items-center col-8">
                        <div class="ml-auto">
                            @if(username == null)
                            {
                                <nav class="site-navigation" style="margin-left: 23%;margin-top: -1.5%;">
                                    <ul class="site-menu js-clone-nav d-none d-xl-block ">
                                        <li class="has-children">
                                            <div id="my-btn" style="padding: 6px !important;" class="btn border-width-2 d-none d-lg-inline-block"> <span class="mr-2 icon-lock_outline"></span>Đăng nhập</div>
                                                <ul class="dropdown" style="border:0">
                                                    <li><a asp-action="JobSeeker" asp-area="" asp-controller="Signin">Người tìm việc</a></li>
                                                    <li><a asp-action="Employer" asp-area="" asp-controller="Signin">Nhà tuyển dụng</a></li>
                                                </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <nav class=" site-navigation" style="margin-left: 35%;margin-top: -1.5%;">
                                    <ul class="site-menu js-clone-nav d-none d-xl-block ">
                                        <li class="has-children">
                                            <div id="my-btn" style="padding: 6px !important;" class="btn border-width-2 d-none d-lg-inline-block"> <span class="mr-2 icon-lock_outline"></span>Đăng ký</div>
                                            <ul class="dropdown" style="border:0">
                                                <li><a asp-action="JobSeeker" asp-area="" asp-controller="Signup">Người tìm việc</a></li>
                                                <li><a asp-action="Employer" asp-area="" asp-controller="Signup">Nhà tuyển dụng</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            } else
                            {
                                if (usertype == "emp")
                                {
                                    <nav class=" site-navigation" style="margin-left: 23%;margin-top: -1.5%;">
                                        <ul class="site-menu js-clone-nav d-none d-xl-block">
                                            <li class="">
                                                <div id="my-btn" style="padding: 6px !important;" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><a style="color: white" asp-action="PostJob" asp-area="" asp-controller="Home">Đăng công việc</a></div>
                                            </li>
                                        </ul>
                                    </nav>
                                }
                                <nav class=" site-navigation" style="margin-left: 35%;margin-top: -1.5%;">
                                    <ul class="site-menu js-clone-nav d-none d-xl-block">
                                        <li class="">
                                            <div id="my-btn" style="padding: 6px !important;" class="btn btn-primary border-width-2 d-none d-lg-inline-block"> <span class="mr-2 icon-lock_outline"></span><a style="color: white" asp-action="Index" asp-area="" asp-controller="Signout">Đăng xuất</a></div>
                                        </li>
                                    </ul>
                                </nav>
                            }
                        </div>
                        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                    </div>

                </div>
            </div>
        </header>*@
        <!-- HOME -->
        @RenderBody()

        <footer class="site-footer">

            <a href="#top" class="smoothscroll scroll-top">
                <span class="icon-keyboard_arrow_up"></span>
            </a>

            <div class="container">
                <div class="row mb-5">
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Xu hướng tìm kiếm</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">Web Developers</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS3</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Công ty</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Về chúng tôi</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Hỗ trợ</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Bảo mật</a></li>
                            <li><a href="#">Chính sách</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Liên hệ</h3>
                        <div class="footer-social">
                            <a href="#"><span class="icon-facebook"></span></a>
                            <a href="#"><span class="icon-twitter"></span></a>
                            <a href="#"><span class="icon-instagram"></span></a>
                            <a href="#"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-12">
                        <p class="copyright">
                            <small>
                                &copy;<script>document.write(new Date().getFullYear());</script> | Nhóm 37 - 64PM2 - Website tuyển dụng
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- SCRIPTS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/stickyfill.min.js"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>

    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.animateNumber.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <script src="~/assets/js/bootstrap-select.min.js"></script>

    <script src="~/assets/js/custom.js"></script>
@*    @await Component.InvokeAsync("Notyf")*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>